*{box-sizing: border-box; margin: 0; padding: 0;}

:root{
--background-notas: #ecedf1;
--background-yellon: #f9d230;
--title-yellon: #f9d230;
--title: #000;
--text-white: #fff;
--paragraph:#000;
}

@font-face {font-family: CamphorProForXiaoMi-Regular; src: url(../css/fonts/CamphorProForXiaoMi-Regular.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Bold; font-weight: 700; src: url(../css/fonts/CamphorProForXiaoMi-Bold.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Thin; src: url(./fonts/CamphorProForXiaoMi-Thin.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Heavy; font-weight: 900; src: url(./fonts/CamphorProForXiaoMi-Heavy.woff) format("woff")}
@font-face {font-family: CamphorProForXiaoMi-Medium; src: url(./fonts/CamphorProForXiaoMi-Medium.woff) format("woff")}

.f-heavy {font-family: CamphorProForXiaoMi-Heavy, sans-serif; font-weight: 900}
.f-regular {font-family: CamphorProForXiaoMi-Regular, sans-serif}
.f-light {font-family: CamphorProForXiaoMi-Light, sans-serif}
.f-bold {font-family: CamphorProForXiaoMi-Bold, sans-serif; font-weight: 700}
.f-medium {font-family: CamphorProForXiaoMi-Medium, sans-serif}
.f-thin {font-family: CamphorProForXiaoMi-Thin, sans-serif}
 
@media screen and (min-width:1024px) {main{display: none;}}

@media screen and (min-width:760px) and (max-width:1023px) {main{display: none;}}

@media screen  and (max-width:768px){

a:link {
text-decoration: none;
}

.root_xiaomi_poco_c40{overflow: hidden; width: 100%;}

.Text_Xiaomi{font-size: 1.5rem; font-weight: bold; color: var(--title); text-align: center;}
.p_Xiaomi{font-size: 1rem; color: var(--paragraph);}

.title-xiaomi-c40-01{font-size: 3.0rem; font-weight: bold; color: var(--title); text-align: left;}
.title_xiaomi-c40-02-1{font-size: 1.3rem; font-weight: bold; color: var(--title); text-align: left; margin-top: 6.4rem; margin-left: 3rem;}
.title_xiaomi-c40-02-2{font-size: 1.1rem; font-weight: bold; color: var(--title); text-align: left; margin-top: 6rem; margin-left: 11rem;}
.title_xiaomi-c40-02-3{font-size: 1rem; font-weight: bold; color: var(--title); margin-top: -5rem; margin-left: 2rem;}
.title_xiaomi-c40-02-4{font-size: 1rem; font-weight: bold; color: var(--title); margin-top: 7rem; margin-left: 11rem;}
.title_xiaomi-c40-02-5{font-size: 1.3rem; font-weight: bold; color: #f9d230; text-align: left; margin-top: 5rem; margin-left: 3rem;}

.title_xiaomi-c40-03{font-size: 1.7rem; font-weight: bold; color: var(--title); text-align: left;}
.title_xiaomi-c40-04{font-size: 1.7rem; font-weight: bold; color: var(--title); text-align: center; padding: 1rem; margin-top: 3rem;}
.title_xiaomi-c40-05{font-size: 1.5rem; font-weight: bold; color: var(--title); text-align: left;}
.title_xiaomi-c40-06{font-size: 1.5rem; font-weight: bold; color: var(--title); text-align: left;}
.title_xiaomi-c40-07{font-size: 1.7rem; font-weight: bold; color: var(--title-yellon); text-align: left;}
.title_xiaomi-c40-08{font-size: 1.7rem; font-weight: bold; color: var(--title-yellon); text-align: left; margin-top: 1.5rem;}
.title_xiaomi-c40-09{font-size: 1.5rem; font-weight: bold; color: var(--title); text-align: left; margin-top: 28rem;}
.title_xiaomi-c40-10{font-size: 1.5rem; font-weight: bold; color: var(--title); text-align: left;}
.title_xiaomi-c40-11{font-size: 1.5rem; font-weight: bold; color: var(--title); text-align: left;}
.title_xiaomi-c40-12{font-size: 1.5rem; font-weight: bold; color: var(--title); text-align: left;}
.text_xiaomi-c40-14{font-size: 1.5rem; font-weight: bold; color: var(--title); text-align: center; margin-top: 4rem; margin-left: -12rem;}

.sub-title-c40{font-size: 1.5rem; font-weight: bold; color: var(--title); text-align: center;}
.sub-title-c40-03{font-size: 1.5rem; font-weight: bold; color: var(--title); text-align: left;}
.sub-title-c40-06{font-size: 1.2rem; font-weight: bold; color: var(--title); text-align: left;}
.sub-title-c40-07{font-size: 1.5rem; font-weight: bold; color: var(--title-yellon); text-align: left;}
.sub-title-c40-11{font-size: 1.2rem; font-weight: bold; color: var(--title); text-align: left;}
.sub-title-c40-12{font-size: 1.2rem; font-weight: bold; color: var(--title); text-align: left;}

.p_xiaomi-c40-01{font-size: 1rem; color: var(--paragraph);}
.p_xiaomi-c40-03{font-size: 1rem; color: var(--paragraph); text-align: left;}
.p_xiaomi-c40-06{font-size: 1rem; color: var(--paragraph); text-align: left;}
.p_xiaomi-c40-07{font-size: 0.7rem; color: var(--text-white); text-align: left;}
.p_xiaomi-c40-08{font-size: 1rem; color: var(--paragraph); text-align: left;}
.p_xiaomi-c40-09{font-size: 1rem; color: var(--paragraph); text-align: left;}
.p_xiaomi-c40-10{font-size: 1rem; color: var(--paragraph); text-align: left;}
.p_xiaomi-c40-11{font-size: 1rem; color: var(--paragraph); text-align: left;}
.p_xiaomi-c40-12{font-size: 1rem; color: var(--paragraph); text-align: left;}

/*============================================== GRID ========================================================*/

.grid-content{
width: 16rem;
height: 3.3rem;
margin: 0.5rem;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
}

.grid-xiaomi{
display: grid;
grid-template-columns: 1fr 1fr;
align-items: center;
text-align: center;
margin: auto;
}

.grid-xiaomi-01{
display: grid;
grid-template-columns: 1fr 1fr;
text-align: center;
}

.grid-text{
padding: 1rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
align-items: center;
text-align: left;
}

.grid-text-bloco{
padding: 1rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
text-align: left;
margin-top: 7rem;
}

.grid-text-c40-03{
padding: 1rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
}

.grid-text-c40-05 {
padding: 1rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;   
margin-top: -24rem;
}

.grid-text-c40-06 {
padding: 1rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: center;
margin-top: 3rem;
}

.grid-text-c40-07{
padding: 1rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
align-items: flex-start;
}

.grid-text-c40-08{
padding: 1rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
}

.grid-text-c40-09{
padding: 1.5rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;    
text-align: left;
}

.grid-text-c40-10{
padding: 1rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
text-align: left;
}

.grid-text-c40-11{
padding: 1rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
margin-top: 3rem;
}

.grid-text-c40-12{
padding: 1rem;
display: flex;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
justify-content: center;
margin-top: 3rem;
}

/*============================================== LAYOUT ========================================================*/

.base_01{
height: 42rem;
background-image: url(../media/Overview_M1080_01.jpg);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
display: flex;
flex-direction: column;
}

.base_02{
height: 47rem;
background-image: url(../media/Overview_M1080_02.jpg);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
display: flex;
flex-direction: column;
}

.base_03{
height: 24rem;
background-image: url(../media/Overview_M1080_14.jpg);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
display: flex;
flex-direction: column;
}

.base_04{
height: 32rem;
background-image: url(../media/Overview_M1080_15.jpg);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
display: flex;
flex-direction: column;
}

.base_05{
height: 26rem;
background-image: url(../media/Overview_M1080_17.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
margin-top: 25rem;
}

  
.base_06{
height: 37rem;
background-image: url(../media/Overview_M1080_18.jpg);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
display: flex;
flex-direction: column;
}

.base_07{
height: 39rem;
background-image: url(../media/Overview_M1080_19.jpg);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
display: flex;
flex-direction: column;
}

.base_08{
height: 46rem;
background-image: url(../media/Overview_M1080_20.jpg);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
display: flex;
flex-direction: column;
}

.base_09{
height: 75rem;
background-image: url(../media/Overview_M1080_21.jpg);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
display: flex;
flex-direction: column;
}

/*.base_10{}*/

.base_11{
height: 41rem;
background-image: url(../media/Overview_M1080_23.jpg);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
display: flex;
flex-direction: column;
}

.base_12{
height: 44rem;
background-image: url(../media/Overview_M1080_24.png);
background-position: center;
background-repeat: no-repeat;
background-size:cover;
display: flex;
flex-direction: column;
}

.base_13{
margin: 1rem;
padding: 1rem;
}

.base_14{
height: 9rem;
background-image: url(../media/final.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
}

.footer_xiaomi-c40{
background-color: var(--background-notas);
padding: 1rem;
}

}